body {
  font-family: "Roboto", sans-serif;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-image {
  width: 160px;
  text-align: center;
  display: block;
}
.logo_section {
  display: flex;
  flex: 0.3;
  justify-content: center;
  align-items: center;
}
#aim {
  color: #ff6347;
  font-size: 26px;
}

h2 {
  color: #ff6347;
}
.about-para {
  font-size: 1.2em;
  text-align: justify;
  color: #3d3d3d;
}
.about-image {
  width: 80%;
}
.list-images {
  width: 90px;
}
.top-div {
  font-size: 3rem;
  text-align: center;
  color: #ff6347;
}
#about-section {
  background-color: #fde0db;
  padding: 20px;
}

.logo-head {
  color: #ff6347;
}
.list-items {
  border: 1px solid black;
}

.list-para {
  border-left: 1px solid gray;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 20px;
}
.list-items p {
  font-size: 25px;
}
.info-text {
  font-size: 20px;
  color: #5f5f5f;
}
@media (max-width: 500px) {
  .logo {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .list-reverse {
    flex-direction: row-reverse;
  }
  .list-reverse .list-para {
    border: 0px;
    border-right: 1px solid gray;
  }
  .list-items p {
    font-size: 1.2rem;
  }
}
